
body{
    background-color: skyblue;
}

.head img{
    height: 400px;
    
}

.balloon{
    text-align: center;
    width: 150px;
    height: 200px;
    border-radius: 50%;
    position:absolute;
    transition: opacity 1s; 
        
}

.balloon1{
    background-color: royalblue;
    left:500px;
    bottom: 0px;
}

.balloon2{
    background-color: red;
    left:300px;
    bottom: 0px;
}

.balloon3{
    background-color: yellowgreen;
    left:100px;
    bottom: 0px;
}